folium
koreanize_matplotlib
streamlit-folium


streamlit>=1.30.0
plotly>=5.20.0
pandas>=2.2.0

yfinance


streamlit>=1.30.0 plotly>=5.20.0 pandas>=2.2.0 yfinance>=0.2.36

streamlit==1.25.0
yfinance==0.2.19
plotly==5.15.0
pandas==1.5.3

